
  body {
    font-family: Arial;
  }
  
  .input{
    border: 5px line #bbb;
    width: 20%;
    border-radius: 20px;
    margin: 0 auto;
    max-width: 600px;
    height: inherit;
  }
  
  .container {
    padding: 16px 4px;
    background-color: #f1f1f1;
    
  }
  
 